name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    if: github.repository == 'exergyheat/ha-stealthminer'
    steps:
      - uses: "actions/checkout@v4"

      - name: HACS Validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: brands

      - name: Hassfest Validation
        uses: "home-assistant/actions/hassfest@master"
